@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$background : #2C7784;
$backgroundClear: #2c779a;
$orange: #FCB62D;
$white: #FFFF;
$red: #FF3030;
$dark-red: #BF1D33;
$yellow: #FFEA30;
$dark-yellow: #EACC1F;
$green: #30FF38;
$dark-green: #57A22B;
$blue: #3083FF;
$dark-blue: #004D9E;
$font: 'Josefin Sans', italic;
$color-texte: #2B2B2B;